services:
  backend:
    build: ./backend
    restart: unless-stopped
    env_file: ./backend/.env
    ports:
      - "9998:9998"

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "8007:80"
    depends_on:
      - backend
